*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

textarea {
  border: 0;
  resize: none;
  // height: 100%;
  line-height: 1;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: unset;
  background-color: unset;
  padding: 0;
}

header {
  height: 56px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}

button {
  &:hover {
    cursor: pointer;
  }

  &[button-title]::before {
  content: attr(button-title);
  position: absolute;
  word-break: keep-all;
  padding: 2px 10px;
  background-color: black;
  color: #d3d3d3;
  border-radius: 3px;
  font-size: 14px;
  visibility: hidden;
}

  &[button-title]:hover::before {
    visibility: visible;
  }
}

.loading {
  margin: 20px;
  text-align: center;
  animation: spinner 4s linear infinite;
}

.border-container {
  border: 1px solid #d4d4d4;
  min-height: 1.7rem;
  border-radius: 6px;
  margin: 6px 0;
  text-align: center;
  padding: 20px;
}

.text-center {
  text-align: center;
}

@keyframes spinner {
  0% {
    transform: rotate(1080deg)
  }
  50% {
    transform: rotate(540deg)
  }
  100% {
    transform: rotate(0deg)
  }
}